$main-color : #38afe8;

@font-face {
  font-family: Overpass;
  src: url('../../../public/fonts/Overpass-Light.ttf');
}
$font-family-base: Overpass;
$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;
$btn-primary-bg: $main-color;

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.title {
  color: $main-color;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-bottom: 20px;
}

.shadowed {
  background-color: white;
  box-shadow: rgb(204, 204, 204) 0px 0px 10px;
  max-width: 500px;
  margin: 100px auto 0px;
}
